/*
Theme Name: The7
Theme URI: http://the7.io/
Author: Dream-Theme
Author URI: http://dream-theme.com/
Description: Any design, any layout. No coding required. The7 is the most customisable WordPress theme on the market up to date. Add the power of Visual Composer, The7 Post Types, Ultimate Addons, Slider Revolution, and WooCommerce to the mix, and you'll get the ultimate web-site building toolkit! Theme is translation ready, compatible with WPML, SEO and mobile friendly (certified by Google).
Version: 8.1.1
License: This WordPress theme is comprised of two parts: (1) The PHP code and integrated HTML are licensed under the GPL license as is WordPress itself.  You will find a copy of the license text in the same directory as this text file. Or you can read it here: http://wordpress.org/about/gpl/ (2) All other parts of the theme including, but not limited to the CSS code, images, and design are licensed according to the license purchased. Read about licensing details here: http://themeforest.net/licenses/regular_extended
License URI: License.txt
Tags: multipurpose, responsive, retina ready, SEO ready, mobile friendly, iOS, material design, clean, minimal, business, corporate, portfolio, creative, photography, one page site, micro site
Text Domain: the7mk2
*/

.wp-caption-text,
.sticky,
.gallery-caption,
.bypostauthor,
.main-page {}

body #load {
    display: none !important;
}


.logo-lavita {
    position: absolute;
    margin: 0 auto;
    left: 42%;
    right: 39%;
    width: 20%;
}

.logo-lavita img {
    width: 200px;
    height: auto;
}

.medium-menu-icon .menu-toggle .lines, .medium-menu-icon .hide-overlay .lines, .medium-menu-icon .menu-toggle .lines::before, .medium-menu-icon .hide-overlay .lines::before, .medium-menu-icon .menu-toggle .lines::after, .medium-menu-icon .hide-overlay .lines::after {
    width: 34px;
    height: 2px;
}
.menu-toggle .lines, .hide-overlay .lines, .menu-toggle .lines::before, .hide-overlay .lines::before, .menu-toggle .lines::after, .hide-overlay .lines::after {
    background-color: 
    #849166;
}
.mixed-header.side-header-h-stroke.sticky-top-line-on,
.sticky-mobile-on.masthead:not(.side-header){
    background-color:  #fff !important;
}

.masthead:not(.mixed-header) {
    background: #FFF none repeat center center;
}

.main-nav > li:not(.wpml-ls-item) > a .menu-text {
    color: #849166;
}

.branding a img, .branding img {
    max-width: 100%;
    height: auto;
    width: 173px;
    margin: 30px 20px;
}

.main-nav > li > a {
    margin: 18px 7px 18px 7px;
    padding: 4px 4px 4px 4px;
}

.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children, .menu-item.menu-item-type-post_type.menu-item-object-page, .menu-item.menu-item-type-custom.menu-item-object-custom {
    padding: 0px 0px;
}

.top-bar {
    min-height: 0px;
    padding: 10px 0px 10px 0px;
}

.wpcf7-form-control.wpcf7-submit {
    margin: 0 auto;
    display: block;
    background-color:#ebede5 !important;
    color: #000 !important;
    padding: 5px 90px !important;
    border-radius: 9px !important;
    letter-spacing: 1px;
}

#phantom {
    background: #fff;
}

.sticky-on .main-nav > li:not(.wpml-ls-item) > a .menu-text, #phantom .main-nav > li:not(.wpml-ls-item) > a .menu-text,
.sticky-on .main-nav > li.act:not(.wpml-ls-item) > a .menu-text, #phantom .main-nav > li.act:not(.wpml-ls-item) > a .menu-text, .sticky-on .main-nav > li.act:not(.wpml-ls-item) > a .subtitle-text, #phantom .main-nav > li.act:not(.wpml-ls-item) > a .subtitle-text,
.sticky-on .main-nav > li:not(.act):not(.wpml-ls-item) > a:hover .subtitle-text, #phantom .main-nav > li:not(.act):not(.wpml-ls-item) > a:hover .subtitle-text, .sticky-on .main-nav > li:not(.act):not(.wpml-ls-item) > a:hover .menu-text, #phantom .main-nav > li:not(.act):not(.wpml-ls-item) > a:hover .menu-text, .sticky-on .main-nav > li.dt-hovered:not(.act):not(.wpml-ls-item) > a .subtitle-text, #phantom .main-nav > li.dt-hovered:not(.act):not(.wpml-ls-item) > a .subtitle-text, .sticky-on .main-nav > li.dt-hovered:not(.act):not(.wpml-ls-item) > a .menu-text, #phantom .main-nav > li.dt-hovered:not(.act):not(.wpml-ls-item) > a .menu-text{
    color:#849166 ;
}



p, ul{
    font-family: "Source Sans Pro", Helvetica, Arial, Verdana, sans-serif;
    font-size: 15px;
    line-height: 21px;
    color: #4D4D4D;
}

.content ol, .content ul {
    margin-left:50px;
    margin-top:-20px;
    margin-bottom:15px;
}

.banner-pages {
    padding-top: 200px;
    padding-bottom:230px;
}

.search-banner {
    margin-top:-250px;
    padding-bottom: 185px;
}

.subtitle-banner p{
    color:#fff;
    font-size: 36px;
    margin-top:-30px;
    padding-bottom: 30px;
    font-family: "Source Sans Pro", Helvetica, Arial, Verdana, sans-serif;
}

.title-banner-white h1 {
    color:#fff;
    font-size: 80px;
    padding-bottom: 20px;
    text-align:center;
}

.content-img-underslider img {
    width:96%;
}


.title-banner-dark h1 {
    color:#4D4D4D;
    font-size: 80px;
    padding-bottom: 20px;
}

.content .searchform, .widget .searchform{
    max-width: 350px;
    margin:0 auto;
}

.content .searchform input.searchform-s {
    width: 100%;
    margin-bottom: 0;
    background: rgba(255,255,255,0.6);
    padding: 23px;
    border-radius: 9px;
}

#page .widget .searchform .submit, .content .searchform .submit {

    color: rgba(133,134,140,0.5);
    padding: 0px 15px;
    background:#fff;
    border-radius: 6px;
}

.wpb_wrapper.vc_figure img {
    border-radius: 4px;
}

.section-one-hp {
    padding-top:190px;
}

.icon-homepage {
    padding-top:80px;
}

.icon-homepage img {
    width:135px;
}

.clasic-buton-lavita button{
    padding: 5px 45px !important;
    background-color: transparent !important;
    border: 1px solid #849166!important;
    border-radius: 10px!important;
}

.clasic-buton-lavita button:hover{
    background-color: #849166 !important;
    border: 1px solid #849166!important;
    color:#fff !important;
}

.clasic-buton-lavita button.vc_btn3.vc_btn3-size-md {
    font: normal 20px / 24px "Source Serif Pro", Helvetica, Arial, Verdana, sans-serif !important;
}

.text-over-img img{
  border-radius: 4px;    
}    

.text-over-img.wpb_column.vc_column_container.vc_col-sm-3{
    left: -80px;
    display: flex;
    padding-bottom: 0px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    min-height: 274px;
    
}

.text-over-img.wpb_column.vc_column_container.vc_col-sm-2{
    
    left: -80px;
    display: flex;
    padding-bottom: 0px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 12px;
        
    }

.three-columns-listing .wpb_content_element {
        margin-bottom: 0px !important;
    }

.text-over-img .wpb_content_element, ul.wpb_thumbnails-fluid > li {
    margin-bottom: 15px !important;
}

.text-over-img>.vc_column-inner {
    display: flex;
    background: rgba(255,255,255,0.7);
    border-radius: 10px;
    padding: 15px 0px 10px 15px;
    font-size: 15px;
    line-height: 21px;
    color: #4D4D4D;
}

.text-over-img>.vc_column-inner h3{
    font-size: 17px;
    margin-bottom: 0px;
    padding-bottom: 3px;
    font-family: "Source Serif Pro", Helvetica, Arial, Verdana, sans-serif;
}

.text-over-img>.vc_column-inner p{
    font-family: "Source Sans Pro", Helvetica, Arial, Verdana, sans-serif;
}


.az-filter p{
    margin-bottom:5px;
}

.mobile-home-slider>.wpb_wrapper p{
    display: none;
}

.pdt30 {
    margin-top:40px;
}

.pdt60 {
 margin-top:60px;
}

.owl-nav button.owl-next, 
.owl-nav button.owl-prev {
    background: transparent !important;
    color:#849166 !important;
}
.owl-carousel:hover .owl-next {
    right: 0px !important;
}

.owl-next, .owl-prev {
    border-radius: 50px;
    border: 1px solid rgba(255,255,255,0.5);
    color: #fff;
    font-family: "fontawesome";
    font-size: 10px;
    height: 30px;
    line-height: 30px;
    margin-top: -15px;
    opacity: 1;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 30px;
    transition: border 0.0s,right 0.0s,left 0.0s,background 0.0s,color 0.0s !important;
    -moz-transition: border 0.0s,right 0.0s,left 0.0s,background 0.0s,color 0.0s;
    -webkit-transition: border 0.0s,right 0.0s,left 0.0s,background 0.0s,color 0.0s;
    -o-transition: border 0.0s,right 0.0s,left 0.0s,background 0.0s,color 0.0s;
}

.owl-theme .owl-nav [class*="owl-"] {

    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #D6D6D6;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
    margin-right: 15px !important;
    margin-left: 15px!important ;

}

.owl-carousel:hover .owl-prev {
    left: -40px !important;
}
.owl-carousel:hover .owl-next {
    right: -40px !important;
}

.button-high-resolution,
.button-high-resolution .vc_btn3-container.clasic-buton-lavita.vc_btn3-inline {
    display: none;
}


#footer.solid-bg {
    background: 
    #E8E8E8 none repeat center top;
    margin-top: 50px;
}

#bottom-bar .wf-container-bottom {
    display: block;
}

.menu-footer-nav-container {
    display: flex;
    justify-content: right;
}

.nav-footer-lavita {
    width: 100%;
   text-align:right;
}

.nav-footer-lavita ul li {
    display: contents;
}


.nav-footer-lavita ul li a {
    padding-left: 50px;
}

#menu-footer-nav li a{
    color:#4D4D4D;
    font-family: "Source Sans Pro", Helvetica, Arial, Verdana, sans-serif;
    font-weight: 600;
}

.footer-description {
    color:#4D4D4D;
    font-size:20px;
    font-family: "Source Sans Pro", Helvetica, Arial, Verdana, sans-serif;
}

.tab-style-one.wpb_tabs .wpb_tabs_nav li:not(.ui-tabs-active), .tab-style-one.wpb_tabs .wpb_tabs_nav li:not(.ui-tabs-active):hover {

    background-color:  transparent;

}
.tab-style-one.wpb_tabs .wpb_tabs_nav li {
    -webkit-border-radius: 1px;
    border-radius: 90px;
}

.wpb_tabs.tab-style-one .wpb_tabs_nav > li.ui-state-active {

    color: #fff;
    background-color: #849166;
}

.text-big, .dt-accordion-text-big .wpb_accordion_header > a {

    font-size: 17px;
    line-height: 26px;

}

.tab-style-one.wpb_tabs .wpb_tabs_nav li {
    margin: 0px 5px 0px 0;
}

.main-nav > li:not(.act):not(.wpml-ls-item) > a:hover .subtitle-text, .main-nav > li:not(.act):not(.wpml-ls-item) > a:hover .menu-text, .main-nav > li.dt-hovered:not(.act):not(.wpml-ls-item) > a .subtitle-text, .main-nav > li.dt-hovered:not(.act):not(.wpml-ls-item) > a .menu-text,
.main-nav > li.act:not(.wpml-ls-item) > a .menu-text, .main-nav > li.act:not(.wpml-ls-item) > a .subtitle-text {
    color: #5B683D;
}

body:not(.transparent) .masthead:not(.side-header) {
    background-color: #fff;
}

.text-over-img > .vc_column-inner {
    margin-top: -30px;
}


.mobile-mini-widgets-in-menu {
    display: none !important;
}

.mobile-sticky-header-overlay {
    background-color: transparent;
}


.dt-close-mobile-menu-icon {
    -webkit-transition: none;
        transition-delay: none;
    transition: opacity none;
        transition-delay: none;
    -webkit-transition-delay: none;
    transition-delay: none;
}
.dt-mobile-header,
.mobile-sticky-header-overlay{
    position: fixed;
    top: 60px;
}


.dt-mobile-header {
    width:100%;
    padding: 10px 0px;
}

.dt-mobile-header {
    background-color: rgba(255,255,255,0.97);
    width: 100%;
}

.has-children.active.open-sub{
    background-color:rgba(229,231,221,0.97);
    padding:0px 55px;
     
}


.dt-mobile-header .next-level-button::before {
    line-height: 21px;
    color: #849166;
    font-size: 22px;
    font-weight: 300;
}

.mobile-main-nav li > a .menu-text{
    color:#849166;
    font-weight: 500;
    font-size: 20px;
    letter-spacing:0.5px;
}


.show-mobile-header .dt-close-mobile-menu-icon {
    left: auto;
    width: 80px;
    background: 
    #fff;
    padding: 15px 5px;
}


.dt-mobile-header .mobile-main-nav li .sub-nav > li > a .menu-text{
    font-size: 18px;
    color: #849166;
    font-weight: 100;
    line-height: 30px;
    letter-spacing: 0.8px;
}

.dt-close-mobile-menu-icon span:before,
.dt-close-mobile-menu-icon span:after{
-ms-transform: none;
    -webkit-transform: none;
    transform: none;
}

.dt-close-mobile-menu-icon span::after, 
.dt-close-mobile-menu-icon span::before{
content: "\f0271";
    font-family: icomoon-the7-font;
    speak: none;
    font-weight: 300;
    font-variant: normal;
    text-transform: none;
    font-size: 35px;
    line-height: 0;
    font-style: normal;
    margin-left: 6px;
    margin-bottom: 66px;
}

.dt-close-mobile-menu-icon span::after, 
.dt-close-mobile-menu-icon span::before {
    display: inline-block;
    height: 2px;
    background: transparent;
}
.admin-bar .dt-mobile-header {
    margin-top: 5px;
    padding-top:60px;
}

.dt-mobile-header, .mobile-sticky-header-overlay {
    position: fixed;
    top: 60px;
}

.dt-close-mobile-menu-icon span {
    color: #849166;
    background-color:transparent;
}

.grey-box{
    background-color:#ebede5;
    padding:30px 50px 5px 50px;
    border-radius:6px;
}

.grey-box h1{
    padding-bottom: 20px;
    font-size:42px;
}
.orange-box{
    background-color:#fffee7;
    padding:25px 50px 0px 50px;
    border-radius:6px;
}

.wpb_video_widget .wpb_wrapper iframe {
    border-radius:15px;
}

.iframe-video .vc_column-inner {
    padding:0px;
    margin:30px 0px 0px 0px;
}

.content input[type="text"], .content input[type="search"], .content input[type="tel"], .content input[type="url"], .content input[type="email"], .content input[type="number"], .content input[type="date"], .content input[type="range"], .content input[type="password"], .content select, .content textarea, .content .wpcf7-number {
    font-family: "Source Sans Pro", Helvetica, Arial, Verdana, sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #000;
    font-weight: 600;
    font-size: 18px;
    padding: 20px 30px;
    border-radius: 10px;

}
/* ======== RESPONSIVE ======== */


@media screen and (min-width: 768px) and (max-width: 992px){
    
  .text-over-img.wpb_column.vc_column_container.vc_col-sm-3 {

    left: -80px;
    display: flex;
    padding-bottom: 0px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    min-height: auto;

    } 
    .content-img-underslider img {
         width: 100%;

    }
   .show-device-logo .mobile-branding img.mobile-logo {
        width: 150px;
    } 
    
    .medium-mobile-menu-icon .mobile-header-bar .lines, .medium-mobile-menu-icon .mobile-header-bar .lines::before, .medium-mobile-menu-icon .mobile-header-bar .lines::after {
    width: 36px;
    height: 2px;
    }
    .dt-mobile-menu-icon .lines, .dt-mobile-menu-icon .lines::before, .dt-mobile-menu-icon .lines::after {
        background-color: 
        #849166;
    }
    
    .mobile-menu-icon-bg-on .dt-mobile-menu-icon:not(.floating-btn) {
        background-color: transparent;
    }

}

@media screen and (min-width: 423px) and (max-width: 767px){
    
    .box-content-row{
        display: -webkit-box;
    }
    
.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children,
.menu-item.menu-item-type-post_type.menu-item-object-page,
.menu-item.menu-item-type-custom.menu-item-object-custom{
    padding: 0px 55px;
}

    
}




@media screen and (min-width: 320px) and (max-width: 767px){

    
.mobile-home-slider .wpb_text_column.wpb_content_element  {
    display: block;
    margin-top: -120px;
    background: rgba(255, 255, 255, 0.8);
    z-index: 999;
    position: relative;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 13px;
}
    
.mobile-home-slider .wpb_wrapper h3{
    font-size: 19px;
    margin-bottom: 0px;
    padding:10px 15px;
    text-align: center;
    font-family: "Source Serif Pro", Helvetica, Arial, Verdana, sans-serif;
}

.mobile-home-slider .wpb_wrapper p {
    padding: 0px 15px;
    font-size: 16px;
    line-height: 25px;
    font-family: "Source Sans Pro", Helvetica, Arial, Verdana, sans-serif;
}

.masthead .mobile-header-bar .mobile-mini-widgets > *, .masthead .mobile-mini-widgets .in-menu-second-switch {
    display: block;
}

.medium-mobile-menu-icon .mobile-header-bar .lines, .medium-mobile-menu-icon .mobile-header-bar .lines::before, .medium-mobile-menu-icon .mobile-header-bar .lines::after {
    width: 36px;
    height: 2px;
}
.dt-mobile-menu-icon .lines, .dt-mobile-menu-icon .lines::before, .dt-mobile-menu-icon .lines::after {
    background-color: 
    #849166;
}

.mobile-menu-icon-bg-on .dt-mobile-menu-icon:not(.floating-btn) {
    background-color: transparent;
}

.show-device-logo .mobile-branding img, .transparent .mobile-branding img.mobile-desktop-logo {

    display: inline-block;
    max-width: 100%;
    height: auto;
    width: 118px;
}

.content-img-underslider img {
    width: 100%;

}

.section-one-hp {
    padding-top:60px;
}

.section-one-boxes {
    padding-top:30px;
    padding-left: 0px !important;
    padding-right: 0px!important;
}

.icon-homepage {
    padding-top:15px;
    padding-left: 0px!important;
    padding-right: 0px!important;
    margin-bottom: -30px;
}


.section-one-boxes h3 {
    font-size: 11px;
    line-height: 18px;
}

.section-one-boxes .clasic-buton-lavita{
    display: none;
}

.pdt30 {
    margin-top:-60px;
}

.pdt60 {
    margin-top:20px;
   }

.clasic-buton-lavita button {
    padding: 4px 35px !important;
    background-color: transparent !important;
    border: 1px solid #849166 !important;
    border-radius: 6px !important;
}

.owl-carousel .owl-item img {
    border-radius: 10px !important;
}

.subtitle-banner {
    color: #fff;
    font-size: 16px;
}

.title-banner h1{
    font-size: 42px;
    word-wrap: break-word;
    padding: 0px 45px;
}

.text-over-img.wpb_column.vc_column_container.vc_col-sm-3 {
    left: 0px;
    display: flex;
    padding-bottom: 0px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    min-height: auto;
}

.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children, .menu-item.menu-item-type-post_type.menu-item-object-page, .menu-item.menu-item-type-custom.menu-item-object-custom {
    padding: 0px 45px;
}

.space-top {
    margin-top:-80px;
}


.text-over-img > .vc_column-inner {
    display: flex;
    border-radius: 10px;
    padding: 0px 0px 10px 5px;
    font-size: 15px;
    line-height: 21px;
    margin-top: 0px;
}

.banner-pages {
    padding-top: 100px ;
    padding-bottom: 190px ;
}

.search-banner {
    margin-top:-250px;
    padding-bottom: 100px;
}

.button-high-resolution,
.button-high-resolution .vc_btn3-container.clasic-buton-lavita.vc_btn3-inline {
    display: block;
}

.footer .widget {
    color: #85868c;
    padding: 0 0px;
}
.nav-footer-lavita ul li a {
    padding-left: 0px;
    padding-right: 18px;
}

.title-banner-white h1,
.title-banner-dark h1 {
    font-size: 42px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    word-wrap: break-word;
    text-align:center;
}

.footer .widget {
    text-align: left;
}

.menu-footer-nav-container {
    justify-content: left;
}

.subtitle-banner p {
    color: #fff;
    font-size: 16px;
    margin-top: -130px;
    padding-bottom: 0px
}

}